{% extends "admin/template.html" %}
{% block content %}

<div class="cpcontent">
    {% if notify %}
        <p style="color: orange;">{{ notify }}</p></br>
    {% endif %}
    
    	<form method=POST  class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
					<label for="password">Mật khẩu hiện tại</label>
					<input id="password" type="password" name="password" placeholder="Bắt buộc" pattern="[^]{6,}" required autofocus>	
				</div>
                
                <div class="pure-control-group">
					<label for="password">Mật khẩu mới</label>
					<input id="password" type="password" name="new_password" placeholder="Ít nhất 6 kí tự" pattern="[^]{6,}">	
				</div>
                <div class="pure-control-group">
					<label for="password">Nhập lại</label>
					<input id="password" type="password" name="confirm_password" placeholder="Xác nhận lại">	
				</div>
                
                <div class="pure-control-group">
					<label></label>
					<input type="submit" name="change" value="Change" class="pure-button button-etick">
				</div>
            </fieldset>
        </form>
</div>
{% endblock %}